/*

* TODOS LOS ESTILOS PARA LAS VISTAS QUE SE COMPARTEN POR TODA LA WEB

*/

.accentColor{
    color: #FFA07A;
}
/*Estilos para el navbar*/
.navbar{
    background-color: #FFE4B5;
}

.navbar ul li a{
    font-size: 20px;
}

/*Estilos para el Body*/
body{
    background-color: whitesmoke;
    position: relative;
}

/* Estilos para el section*/
section{
    padding-top: 50px;
    padding-bottom: 20px;
}

/*
*Estilo para las Cards
*/

.card{
    border-radius: 30px;
}

/* Estilos para el Footer */

.footer {
    padding: 40px 0;
    background-color: #fff;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    /*margin: 0 20px;*/
}
.footer ul {
    text-align: center;
    
}
.footer ul a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 1;
}

@media (max-width: 600px) {
    .footer ul{
        padding: 10px 0;
    }
    .footer ul li {
        display: block;
        padding: 10px 0;
    }
}

.footer .copyright {
    margin-top: 15px;
    font-size: 20px;
    color: #aaa;
}


/* Estilos para el acordeon con todos los creditos de los Assets que use en la web */
#accordionAssets{
    padding: 10px;
    background-color: whitesmoke;
}

/*-----------------------------------------------------------------------------------------*/

/*

* TODOS LOS ESTILOS PARA LAS VISTAS QUE SOLO SE USAN EN UNA UNICA PAGINA

*/

/*
* Estilo para la vista de Contacto y Ubicacion
*/

.Cont_Y_Ubi {
    flex-wrap: nowrap;
    
}

@media (max-width: 770px) {
    .container{
        padding: 0;
    }
    .Cont_Y_Ubi {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .Cont_Y_Ubi .card{
        margin: 0;
    }
}


/*
* Estilos para el Carrusel de Cartas
*/
.card .img-box{
    height: 200px;
}

.card .img-box img{
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
}

.card .product-detail{
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

.product-description .nombre{
    font-size: 35px;
    font-weight: 600;
}

.product-description .descripcion{
    font-size: 20px;
}

.product-description .precio{
    font-size: 30px;
    font-weight: 500;
}


/* Estilos para el Carrusel de imagenes*/
.carousel img{
    height:400px;
    border-radius: 12px;
}

/*
Estilos para el carrusel con login
*/

.carouselYLogin{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*align-content: center;
    align-items: baseline;
    */
    flex-grow: 1;
}

/*Estilos para Productos*/

/* prueba de estilos para barra de busqueda */
.roundSearch{
    margin:auto;
    /*padding: 10px 30px 30px 20px;*/
    border-radius: 30px;
}
/* Estilos paralas tarjetas de productos */

.productCard{
    margin: 20px;
    border-radius: 30px;
}
.btn{
    border-radius: 30px;
}

#listaProductos{
    margin-left: 20px;
    margin-right: 20px;
}

/*

* Estos estilos cambian los colores de default de btn-primary

TODO: tengo que terminar de corregir los errores de los estilos

*/
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FFA07A !important;
    border-color: white;
    border-width: 1px;
}

.btn-primary:focus{
    box-shadow: none;
    border: solid red;
}

/* Estilos para cuando se selecciona un fromulario. */
.form-control, .form-select{
    border-radius: 30px;
    border-width: 1px;
}

.form-control:focus, .form-select:valid:focus{
    border: solid #FFA07A;
    box-shadow: none;
}

/* Estilos para cuando se selecciona un boton */

/* Estilos para la imagen que aparece en la view de login */
#img-login{
    height: 250px;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.margenTituloForm{
    margin-left: 5px;
    padding-top: 25px;
}
