/*

* TODOS LOS ESTILOS PARA LAS VISTAS QUE SE COMPARTEN POR TODA LA WEB

*/
*{
    padding: 0;
    margin: 0;
}

/*
* Prueba de fijacion del Footer al final

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
*/

/*
* Justificacion de textos
*/

p{
    text-align: justify;
}

.accentColor{
    color: #FFA07A;
}
/*Estilos para el navbar*/
.navbar{
    background-color: #FFE4B5;
}

.navbar ul li a{
    font-size: 20px;
}

/*Estilos para el Body*/
body{
    background-color: whitesmoke;
}

/* Estilos para el section*/
section{
    padding-top: 50px;
    padding-bottom: 20px;
}

/*
*Estilo para las Cards
*/

.card{
    /*margin: 0 .5em;*/
    border-radius: 30px;
    /*box-shadow: 2px 6px 8px rgba(22, 22, 26, 18);*/
}

/*
* Estilo para una carta interna dentro de otra carta
*/
.card .carta-aviso{
    background-color: #FFE4B5;
}

/*
*Estilo para la vista de detalle de productos
*/
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 4%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 0%;
}
.titulo{
    font-size: 3.5em;
    font-weight: bolder; 
}

.sub_titulo{
    font-size: 2.5em;
}

.precio{
    font-size: 2.5em;
    font-weight: bolder;
}

.texto{
    font-size: 2em;
    font-weight: lighter;
}
/*
! Media Break point para card-img
*/

@media (max-width: 991px) {
    .card-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 4.5%;
        border-top-right-radius: 4.5%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }

}

/*

* Estos estilos cambian los colores de default de btn-primary

TODO: tengo que terminar de corregir los errores de los estilos

*/
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FFA07A !important;
    border-color: white;
    border-width: 1px;
}

.btn-primary:focus{
    outline: none; /* desactiva el contorno predeterminado */
    box-shadow: 0 0 0 3px rgba(255, 228, 181, 1); /* agrega un sombreado personalizado */
    /*
    box-shadow: none;
    border: solid #ffe4b5;
    */
}

/* Estilos para cuando se selecciona un fromulario. */
.form-control, .form-select{
    border-radius: 30px;
    border-width: 1px;
}

.form-control:focus, .form-select:valid:focus{
    border: solid #FFA07A;
    box-shadow: none;
}

/* Estilos para el Footer */

.footer {
    padding: 40px 0;
    background-color: #fff;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
}
.footer ul {
    text-align: center;
    
}
.footer ul a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    font-size: 20px;
    color: #aaa;
}

/*-----------------------------------------------------------------------------------------*/

/*

* TODOS LOS ESTILOS PARA LAS VISTAS QUE SOLO SE USAN EN UNA UNICA PAGINA

*/

/*

* Estilo para la vista de Contacto y Ubicacion

*/

.Cont_Y_Ubi {
    flex-wrap: wrap;
}
/*Estilos para Productos*/

/* prueba de estilos para barra de busqueda */
.roundSearch{
    margin:auto;
    /*padding: 10px 30px 30px 20px;*/
    border-radius: 30px;
}
/* Estilos para las tarjetas de productos */

.productCard{
    margin: 20px;
    border-radius: 30px;
}
.btn{
    border-radius: 30px;
}
.productImg{
    padding-top: 10px;
    border-radius: 30px;
}
#listaProductos{
    margin-left: 20px;
    margin-right: 20px;
}

/* Estilos para cuando se selecciona un boton */

/* Estilos para la imagen que aparece en la view de login */

/*TODO: revisar si esto se usa en algun lado y si no es asi entonces eliminar*/
#img-login{
    height: 250px;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.margenTituloForm{
    margin-left: 5px;
    padding-top: 25px;
}

/*
! Media Querys
*/
@media (max-width: 600px) {
    .footer ul{
        padding: 10px 0;
    }
    .footer ul li {
        display: block;
        padding: 10px 0;
    }

}
/*

! Estilos para el carruselTest3
TODO revisar si se usa y eliminar si no es asi

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.carouselBody{
    /*
    min-height: 60vh;
    */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselContainer{
    
    /*max-width: 1120px;*/
    width: 100%;
    height: auto;
    padding: 0;
    margin: 1;
}

.carouselCard{
    display: flex;
    width: 100%;
    height:auto;
}


.slide-container{
    padding: 0 10px;
    margin: 0 40px;
    overflow: hidden;
}

.card .img-box{ 
    width: 100%;
    height: auto;
}

.card .img-box img{
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 0 0;
}

.card .product-details{
    align-items: center;
    text-align: center;
    padding: 10px;
}

.product-details .product{
    font-size: 25px;
    font-weight: 600;

}

.product-details .description{
    font-size: 15px;
    font-weight: 500;    
}

.swiper-button-prev, .swiper-button-next{
    width: 9vh;
    height: 9vh;
    font-size: 14px;
    background-color: #e1e1e1;
    border-radius: 50%;
    top:50%;
    transform: rotateY(-50%);
    opacity: .8;
    color: black;
}

.swiper-button-prev:hover, .swiper-button-next:hover{
    opacity: 1;
}

.swiper-pagination-bullet{
    background-color: #000;
}

/*
! Estilos para las Cards de detalle de los productos
*/
 .cardDetalleProducto{
    display: flex;
    
 }

 .cardDetalleProducto .card-body img{
    width: 400px;
    height: auto;
 }